{% extends "template.html" %}
{% block conteudo %}
<table class="table table-bordered table-responsive table-striped">
    <thead class="thead-default">
        <tr>
            <th>Treino</th>
            <th>Categoria</th>
            <th>Carga</th>
            <th>Repetições</th>
        </tr>
    </thead>
    <tbody>
        {% for treino in treinos %}
        <tr>
            <td>{{ treino.nome }}</td>
            <td>{{ treino.categoria }}</td>
            <td>{{ treino.carga }}</td>
            <td>{{ treino.repeticoes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}